body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cor de fundo */
    color: #ddd; /* Cor do texto */
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.nome-software p{
    font-weight: bold;
}
h1 {
    color: #eee; /* Cor do título */
}
p {
    color: #ccc; /* Cor do texto do parágrafo */
    text-align: justify;
}
ul {
    margin-left: 20px;
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    text-align: left;
}
.link-container {
    margin-top: 20px;
}
a {
    color: #9cf; /* Cor dos links */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2{
    text-align: left;
    margin-left: 10px;
}